{% extends "base.html" %}
{% block start %}

<div class="container mt-5 text-center">
    <h1 class="display-3">Welcome to Our Recipe Platform</h1>
    <p class="lead">Discover, Share, and Create Delicious Recipes</p>
</div>
<hr>
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://source.unsplash.com/400x300/?recipe" class="card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Recipe Collection</h5>
                    <p class="card-text">Explore a vast collection of mouth-watering recipes shared by our community.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://source.unsplash.com/400x300/?food" class="card-img-top" alt="Image 2">
                <div class="card-body">
                    <h5 class="card-title">Share Your Recipes</h5>
                    <p class="card-text">Join us and share your favorite recipes with the world.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://source.unsplash.com/400x300/?cooking" class="card-img-top" alt="Image 3">
                <div class="card-body">
                    <h5 class="card-title">Create a Recipe</h5>
                    <p class="card-text">Contribute by creating your own unique recipes and sharing them with others.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
